<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/elastislide.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
        <header>
            <div class="inner clearfix">
                <select class="small-main-nav">
                    <option selected="selected" value="#">Главная</option>
                    <option value="#">Категории</option>
                    <option value="#">Новости</option>
                    <option value="#">Помощь</option>
                    <option value="#">О проекте</option>
                </select>
                <nav class="main-nav">
                    <ul class="clearfix">
                        <li class="active">
                            <a href="#">
                                <span class="not-hover">Главная</span>
                                <span class="hover">Главная</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="not-hover">Категории</span>
                                <span class="hover">Категории</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="not-hover">Новости</span>
                                <span class="hover">Новости</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="not-hover">Помощь</span>
                                <span class="hover">Помощь</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="not-hover">О проекте</span>
                                <span class="hover">О проекте</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <form id="search" action="#" method="get">
                    <fieldset>
                        <div class="input-append">
                            <input type="text" name="s" placeholder="ПОИСК" class="search-text" />
                            <input type="submit" value="&nbsp;" class="btn search-submit" />
                        </div>
                    </fieldset>
                </form>
                <nav class="social">
                    <ul class="clearfix">
                        <li><a href="#" class="facebook-icon">&nbsp;</a></li>
                        <li><a href="#" class="twitter-icon">&nbsp;</a></li>
                        <li><a href="#" class="rss-icon">&nbsp;</a></li>
                        <li><a href="#" class="vk-icon">&nbsp;</a></li>
                        <li><a href="#" class="google-icon">&nbsp;</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <div class="content">
            <div class="inner">
                <!-- Новинки -->
                <article class="new">
                    <h2><a href="#">Новинки</a></h2>
                    <div class="center">
                        <ul class="clearfix"><li>
                                <a href="#">
                                    <img src="img/ex1.jpg" height="178" width="120" />
                                    <img src="img/ex2.jpg" height="178" width="120" class="color-image" />
                                    <span class="letter">H</span>
                                    <span class="play"></span>
                                    <div class="popover">
                                        <h3>Восемнадцать-Четырнадцать</h3>
                                        <div class="pp-data clearfix">
                                            <div class="pp-zhanr">Жанр: Приключенческий</div>
                                            <div class="pp-year">Год: 2013</div>
                                        </div>
                                        <div class="pp-desc">
                                            Под Петербургом, в Царском Селе в 1814 году происходит цепь загадочных убийств. От рук неизвестного погибают молодые женщины. Эти смерти  объединяет один и тот же почерк — звериная жестокость...
                                        </div>
                                        <div class="pp-bottom clearfix">
                                            <div class="pp-rating">
                                                <div class="stars clearfix">
                                                    <ul class="clearfix">
                                                        <li class="star"></li>
                                                        <li class="star"></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                    <span>(1.987 из 5)</span>
                                                </div>
                                            </div>
                                            <div class="pp-comments">26</div>
                                            <div class="pp-views">2,342</div>
                                        </div>
                                    </div>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="img/ex1.jpg" height="178" width="120" />
                                    <img src="img/ex2.jpg" height="178" width="120" class="color-image" />
                                    <span class="letter">O</span>
                                    <span class="play"></span>
                                    <div class="popover">
                                        <h3>Восемнадцать-Четырнадцать</h3>
                                        <div class="pp-data clearfix">
                                            <div class="pp-zhanr">Жанр: Приключенческий</div>
                                            <div class="pp-year">Год: 2013</div>
                                        </div>
                                        <div class="pp-desc">
                                            Под Петербургом, в Царском Селе в 1814 году происходит цепь загадочных убийств. От рук неизвестного погибают молодые женщины. Эти смерти  объединяет один и тот же почерк — звериная жестокость...
                                        </div>
                                        <div class="pp-bottom clearfix">
                                            <div class="pp-rating clearfix">
                                                <ul class="clearfix">
                                                    <li class="star"></li>
                                                    <li class="star"></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                </ul>
                                                <span>(1.987 из 5)</span>
                                            </div>
                                            <div class="pp-comments">26</div>
                                            <div class="pp-views">2,342</div>
                                        </div>
                                    </div>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="img/ex1.jpg" height="178" width="120" />
                                    <img src="img/ex2.jpg" height="178" width="120" class="color-image" />
                                    <span class="letter">L</span>
                                    <span class="play"></span>
                                    <div class="popover">
                                        <h3>Восемнадцать-Четырнадцать</h3>
                                        <div class="pp-data clearfix">
                                            <div class="pp-zhanr">Жанр: Приключенческий</div>
                                            <div class="pp-year">Год: 2013</div>
                                        </div>
                                        <div class="pp-desc">
                                            Под Петербургом, в Царском Селе в 1814 году происходит цепь загадочных убийств. От рук неизвестного погибают молодые женщины. Эти смерти  объединяет один и тот же почерк — звериная жестокость...
                                        </div>
                                        <div class="pp-bottom clearfix">
                                            <div class="pp-rating">
                                                <div class="stars clearfix">
                                                    <ul class="clearfix">
                                                        <li class="star"></li>
                                                        <li class="star"></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                    <span>(1.987 из 5)</span>
                                                </div>
                                            </div>
                                            <div class="pp-comments">26</div>
                                            <div class="pp-views">2,342</div>
                                        </div>
                                    </div>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="img/ex1.jpg" height="178" width="120" />
                                    <img src="img/ex2.jpg" height="178" width="120" class="color-image" />
                                    <span class="letter">Y</span>
                                    <span class="play"></span>
                                    <div class="popover">
                                        <h3>Восемнадцать-Четырнадцать</h3>
                                        <div class="pp-data clearfix">
                                            <div class="pp-zhanr">Жанр: Приключенческий</div>
                                            <div class="pp-year">Год: 2013</div>
                                        </div>
                                        <div class="pp-desc">
                                            Под Петербургом, в Царском Селе в 1814 году происходит цепь загадочных убийств. От рук неизвестного погибают молодые женщины. Эти смерти  объединяет один и тот же почерк — звериная жестокость...
                                        </div>
                                        <div class="pp-bottom clearfix">
                                            <div class="pp-rating">
                                                <div class="stars clearfix">
                                                    <ul class="clearfix">
                                                        <li class="star"></li>
                                                        <li class="star"></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                    <span>(1.987 из 5)</span>
                                                </div>
                                            </div>
                                            <div class="pp-comments">26</div>
                                            <div class="pp-views">2,342</div>
                                        </div>
                                    </div>
                                </a>
                            </li><li class="hide-on-small">
                                <a href="#">
                                    <img src="img/ex1.jpg" height="178" width="120" />
                                    <img src="img/ex2.jpg" height="178" width="120" class="color-image" />
                                    <span class="letter">-</span>
                                    <span class="play"></span>
                                    <div class="popover">
                                        <h3>Восемнадцать-Четырнадцать</h3>
                                        <div class="pp-data clearfix">
                                            <div class="pp-zhanr">Жанр: Приключенческий</div>
                                            <div class="pp-year">Год: 2013</div>
                                        </div>
                                        <div class="pp-desc">
                                            Под Петербургом, в Царском Селе в 1814 году происходит цепь загадочных убийств. От рук неизвестного погибают молодые женщины. Эти смерти  объединяет один и тот же почерк — звериная жестокость...
                                        </div>
                                        <div class="pp-bottom clearfix">
                                            <div class="pp-rating">
                                                <div class="stars clearfix">
                                                    <ul class="clearfix">
                                                        <li class="star"></li>
                                                        <li class="star"></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                    <span>(1.987 из 5)</span>
                                                </div>
                                            </div>
                                            <div class="pp-comments">26</div>
                                            <div class="pp-views">2,342</div>
                                        </div>
                                    </div>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="img/ex1.jpg" height="178" width="120" />
                                    <img src="img/ex2.jpg" height="178" width="120" class="color-image" />
                                    <span class="letter">S</span>
                                    <span class="play"></span>
                                    <div class="popover">
                                        <h3>Восемнадцать-Четырнадцать</h3>
                                        <div class="pp-data clearfix">
                                            <div class="pp-zhanr">Жанр: Приключенческий</div>
                                            <div class="pp-year">Год: 2013</div>
                                        </div>
                                        <div class="pp-desc">
                                            Под Петербургом, в Царском Селе в 1814 году происходит цепь загадочных убийств. От рук неизвестного погибают молодые женщины. Эти смерти  объединяет один и тот же почерк — звериная жестокость...
                                        </div>
                                        <div class="pp-bottom clearfix">
                                            <div class="pp-rating">
                                                <div class="stars clearfix">
                                                    <ul class="clearfix">
                                                        <li class="star"></li>
                                                        <li class="star"></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                    <span>(1.987 из 5)</span>
                                                </div>
                                            </div>
                                            <div class="pp-comments">26</div>
                                            <div class="pp-views">2,342</div>
                                        </div>
                                    </div>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="img/ex1.jpg" height="178" width="120" />
                                    <img src="img/ex2.jpg" height="178" width="120" class="color-image" />
                                    <span class="letter">H</span>
                                    <span class="play"></span>
                                    <div class="popover">
                                        <h3>Восемнадцать-Четырнадцать</h3>
                                        <div class="pp-data clearfix">
                                            <div class="pp-zhanr">Жанр: Приключенческий</div>
                                            <div class="pp-year">Год: 2013</div>
                                        </div>
                                        <div class="pp-desc">
                                            Под Петербургом, в Царском Селе в 1814 году происходит цепь загадочных убийств. От рук неизвестного погибают молодые женщины. Эти смерти  объединяет один и тот же почерк — звериная жестокость...
                                        </div>
                                        <div class="pp-bottom clearfix">
                                            <div class="pp-rating">
                                                <div class="stars clearfix">
                                                    <ul class="clearfix">
                                                        <li class="star"></li>
                                                        <li class="star"></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                    <span>(1.987 из 5)</span>
                                                </div>
                                            </div>
                                            <div class="pp-comments">26</div>
                                            <div class="pp-views">2,342</div>
                                        </div>
                                    </div>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="img/ex1.jpg" height="178" width="120" />
                                    <img src="img/ex2.jpg" height="178" width="120" class="color-image" />
                                    <span class="letter">I</span>
                                    <span class="play"></span>
                                    <div class="popover">
                                        <h3>Восемнадцать-Четырнадцать</h3>
                                        <div class="pp-data clearfix">
                                            <div class="pp-zhanr">Жанр: Приключенческий</div>
                                            <div class="pp-year">Год: 2013</div>
                                        </div>
                                        <div class="pp-desc">
                                            Под Петербургом, в Царском Селе в 1814 году происходит цепь загадочных убийств. От рук неизвестного погибают молодые женщины. Эти смерти  объединяет один и тот же почерк — звериная жестокость...
                                        </div>
                                        <div class="pp-bottom clearfix">
                                            <div class="pp-rating">
                                                <div class="stars clearfix">
                                                    <ul class="clearfix">
                                                        <li class="star"></li>
                                                        <li class="star"></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                    <span>(1.987 из 5)</span>
                                                </div>
                                            </div>
                                            <div class="pp-comments">26</div>
                                            <div class="pp-views">2,342</div>
                                        </div>
                                    </div>
                                </a>
                            </li><li>
                                <a href="#">
                                    <img src="img/ex1.jpg" height="178" width="120" />
                                    <img src="img/ex2.jpg" height="178" width="120" class="color-image" />
                                    <span class="letter">T</span>
                                    <span class="play"></span>
                                    <div class="popover">
                                        <h3>Восемнадцать-Четырнадцать</h3>
                                        <div class="pp-data clearfix">
                                            <div class="pp-zhanr">Жанр: Приключенческий</div>
                                            <div class="pp-year">Год: 2013</div>
                                        </div>
                                        <div class="pp-desc">
                                            Под Петербургом, в Царском Селе в 1814 году происходит цепь загадочных убийств. От рук неизвестного погибают молодые женщины. Эти смерти  объединяет один и тот же почерк — звериная жестокость...
                                        </div>
                                        <div class="pp-bottom clearfix">
                                            <div class="pp-rating">
                                                <div class="stars clearfix">
                                                    <ul class="clearfix">
                                                        <li class="star"></li>
                                                        <li class="star"></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                    <span>(1.987 из 5)</span>
                                                </div>
                                            </div>
                                            <div class="pp-comments">26</div>
                                            <div class="pp-views">2,342</div>
                                        </div>
                                    </div>
                                </a>
                            </li></ul>
                    </div>
                </article>
                <!-- /Новинки -->
                <!-- Топ просмотров -->
                <article class="top-views">
                    <h2><a href="#">Топ просмотров</a></h2>
                    <ul id="carousel" class="elastislide-list"><li>
                            <a href="#">
                                <img src="img/ex4.jpg" alt="" />
                                <span class="play"></span>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="img/ex4.jpg" alt="" />
                                <span class="play"></span>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="img/ex4.jpg" alt="" />
                                <span class="play"></span>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="img/ex4.jpg" alt="" />
                                <span class="play"></span>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="img/ex4.jpg" alt="" />
                                <span class="play"></span>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="img/ex4.jpg" alt="" />
                                <span class="play"></span>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="img/ex4.jpg" alt="" />
                                <span class="play"></span>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="img/ex4.jpg" alt="" />
                                <span class="play"></span>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="img/ex4.jpg" alt="" />
                                <span class="play"></span>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="img/ex4.jpg" alt="" />
                                <span class="play"></span>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="img/ex4.jpg" alt="" />
                                <span class="play"></span>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="img/ex4.jpg" alt="" />
                                <span class="play"></span>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="img/ex4.jpg" alt="" />
                                <span class="play"></span>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="img/ex4.jpg" alt="" />
                                <span class="play"></span>
                            </a>
                        </li><li>
                            <a href="#">
                                <img src="img/ex4.jpg" alt="" />
                                <span class="play"></span>
                            </a>
                        </li></ul>
                </article>
                <!-- /Топ просмотров -->
                <!-- Самое ожидаемое -->
                <article class="soon">
                    <h2><a href="#">Самое ожидаемое</a></h2>
                    <div class="center">
                        <ul class="clearfix">
                            <li class="big-soon">
                                <a href="#">
                                    <img src="img/ex3.jpg" alt="" height="268" width="462" />
                                    <span class="play"></span>
                                </a>
                            </li>
                            <li class="bs-descr">
                                <h3>ШПИОН</h3>
                                <div class="pp-data clearfix">
                                    <div class="pp-zhanr">Жанр: Боевик</div>
                                    <div class="pp-year">Год: 2011</div>
                                </div>
                                <div class="pp-desc">
                                    Джонатан Лук, один из лучших секретных агентов, получает новое задание. Он должен найти Сюзан ЛеКлер. Но это на первый взгляднесложное дело, окажется самым опасным в жизни. Ведь окутанная тайнами красотка, втянетсвоего преследователя в самую настоящую войну служб...
                                </div>
                                <div class="pp-bottom clearfix">
                                    <div class="pp-rating">
                                        <div class="stars clearfix">
                                            <ul class="clearfix">
                                                <li class="star"></li>
                                                <li class="star"></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                            </ul>
                                            <span>(1.987 из 5)</span>
                                        </div>
                                    </div>
                                    <div class="pp-comments">26</div>
                                    <div class="pp-views">2,342</div>
                                </div>
                            </li>
                            <li class="two-soon hide-695">
                                <a href="#">
                                    <img src="img/ex4.jpg" alt="" height="109" width="199" />
                                    <span class="play"></span>
                                </a>
                                <a href="#">
                                    <img src="img/ex4.jpg" alt="" height="109" width="199" />
                                    <span class="play"></span>
                                </a>
                            </li>
                            <li class="two-soon hide-910">
                                <a href="#">
                                    <img src="img/ex4.jpg" alt="" height="109" width="199" />
                                    <span class="play"></span>
                                </a>
                                <a href="#">
                                    <img src="img/ex4.jpg" alt="" height="109" width="199" />
                                    <span class="play"></span>
                                </a>
                            </li>
                            <li class="small-soon hide-1130">
                                <a href="#">
                                    <img src="img/ex5.jpg" alt="" height="262" width="151" />
                                    <span class="play"></span>
                                </a>
                            </li>
                            <li class="two-soon hide-1295">
                                <a href="#">
                                    <img src="img/ex4.jpg" alt="" height="109" width="199" />
                                    <span class="play"></span>
                                </a>
                                <a href="#">
                                    <img src="img/ex4.jpg" alt="" height="109" width="199" />
                                    <span class="play"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <!-- /Самое ожидаемое -->
            </div>
        </div>
        
        <footer>
            <div class="inner clearfix">
                <select class="small-footer-nav">
                    <option value="">Выберите страницу</option>
                    <option value="#">Условия использования</option>
                    <option value="#">Авторские права</option>
                    <option value="#">Контакты</option>
                </select>
                <nav class="footer-nav clearfix">
                    <ul>
                        <li>
                            <a href="#">
                                <span class="not-hover">Условия использования</span>
                                <span class="hover">Условия использования</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="not-hover">Авторские права</span>
                                <span class="hover">Авторские права</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="not-hover">Контакты</span>
                                <span class="hover">Контакты</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="login-register-link">Вход/Регистрация</a>
                <div class="copyright">© 2013 HOLY-SHIT</div>
            </div>
        </footer>

        <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script-->
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="js/vendor/jquerypp.custom.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/jquery.elastislide.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script-->
    </body>
</html>
