<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
        <header>
            <div class="inner clearfix">
                <select class="small-main-nav">
                    <option value="#">Главная</option>
                    <option value="#">Категории</option>
                    <option selected="selected" value="#">Новости</option>
                    <option value="#">Помощь</option>
                    <option value="#">О проекте</option>
                </select>
                <nav class="main-nav">
                    <ul class="clearfix">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Категории</a></li>
                        <li class="active"><a href="#">Новости</a></li>
                        <li><a href="#">Помощь</a></li>
                        <li><a href="#">О проекте</a></li>
                    </ul>
                </nav>
                <form id="search" action="#" method="get">
                    <fieldset>
                        <div class="input-append">
                            <input type="text" name="s" placeholder="ПОИСК" class="search-text" />
                            <input type="submit" value="&nbsp;" class="btn search-submit" />
                        </div>
                    </fieldset>
                </form>
                <nav class="social">
                    <ul class="clearfix">
                        <li><a href="#" class="facebook-icon">&nbsp;</a></li>
                        <li><a href="#" class="twitter-icon">&nbsp;</a></li>
                        <li><a href="#" class="rss-icon">&nbsp;</a></li>
                        <li><a href="#" class="vk-icon">&nbsp;</a></li>
                        <li><a href="#" class="google-icon">&nbsp;</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <div class="content">
            <div class="inner">
                <article class="news">
                    <ul class="clearer center">
                        <li>
                            <h3>Новость 1</h3>
                            <div class="news-image">
                                <img src="img/ex6.jpg" alt="" height="127" width="218" />
                            </div>
                            <div class="news-desc">
                                <p>Любите смотреть на планшете или широкоэкранном смартфоне фильмы? А Вы знаете, как правильно держать планшет, чтобы удобно смотреть трейлеры или любимые сериалы? Для того, чтобы рука не уставала и Вы не отвлекались — есть небольшой, но полезный совет!</p>
                            </div>
                            <a href="#" class="news-link">Подробнее</a>
                        </li><li>
                            <h3>Новость 1</h3>
                            <div class="news-image">
                                <img src="img/ex6.jpg" alt="" height="127" width="218" />
                            </div>
                            <div class="news-desc">
                                <p>Любите смотреть на планшете или широкоэкранном смартфоне фильмы? А Вы знаете, как правильно держать планшет, чтобы удобно смотреть трейлеры или любимые сериалы? Для того, чтобы рука не уставала и Вы не отвлекались — есть небольшой, но полезный совет!</p>
                            </div>
                            <a href="#" class="news-link">Подробнее</a>
                        </li><li>
                            <h3>Новость 1</h3>
                            <div class="news-image">
                                <img src="img/ex6.jpg" alt="" height="127" width="218" />
                            </div>
                            <div class="news-desc">
                                <p>Любите смотреть на планшете или широкоэкранном смартфоне фильмы? А Вы знаете, как правильно держать планшет, чтобы удобно смотреть трейлеры или любимые сериалы? Для того, чтобы рука не уставала и Вы не отвлекались — есть небольшой, но полезный совет!</p>
                            </div>
                            <a href="#" class="news-link">Подробнее</a>
                        </li><li>
                            <h3>Новость 1</h3>
                            <div class="news-image">
                                <img src="img/ex6.jpg" alt="" height="127" width="218" />
                            </div>
                            <div class="news-desc">
                                <p>Любите смотреть на планшете или широкоэкранном смартфоне фильмы? А Вы знаете, как правильно держать планшет, чтобы удобно смотреть трейлеры или любимые сериалы? Для того, чтобы рука не уставала и Вы не отвлекались — есть небольшой, но полезный совет!</p>
                            </div>
                            <a href="#" class="news-link">Подробнее</a>
                        </li><li>
                            <h3>Новость 1</h3>
                            <div class="news-image">
                                <img src="img/ex6.jpg" alt="" height="127" width="218" />
                            </div>
                            <div class="news-desc">
                                <p>Любите смотреть на планшете или широкоэкранном смартфоне фильмы? А Вы знаете, как правильно держать планшет, чтобы удобно смотреть трейлеры или любимые сериалы? Для того, чтобы рука не уставала и Вы не отвлекались — есть небольшой, но полезный совет!</p>
                            </div>
                            <a href="#" class="news-link">Подробнее</a>
                        </li><li>
                            <h3>Новость 1</h3>
                            <div class="news-image">
                                <img src="img/ex6.jpg" alt="" height="127" width="218" />
                            </div>
                            <div class="news-desc">
                                <p>Любите смотреть на планшете или широкоэкранном смартфоне фильмы? А Вы знаете, как правильно держать планшет, чтобы удобно смотреть трейлеры или любимые сериалы? Для того, чтобы рука не уставала и Вы не отвлекались — есть небольшой, но полезный совет!</p>
                            </div>
                            <a href="#" class="news-link">Подробнее</a>
                        </li><li>
                            <h3>Новость 1</h3>
                            <div class="news-image">
                                <img src="img/ex6.jpg" alt="" height="127" width="218" />
                            </div>
                            <div class="news-desc">
                                <p>Любите смотреть на планшете или широкоэкранном смартфоне фильмы? А Вы знаете, как правильно держать планшет, чтобы удобно смотреть трейлеры или любимые сериалы? Для того, чтобы рука не уставала и Вы не отвлекались — есть небольшой, но полезный совет!</p>
                            </div>
                            <a href="#" class="news-link">Подробнее</a>
                        </li><li>
                            <h3>Новость 1</h3>
                            <div class="news-image">
                                <img src="img/ex6.jpg" alt="" height="127" width="218" />
                            </div>
                            <div class="news-desc">
                                <p>Любите смотреть на планшете или широкоэкранном смартфоне фильмы? А Вы знаете, как правильно держать планшет, чтобы удобно смотреть трейлеры или любимые сериалы? Для того, чтобы рука не уставала и Вы не отвлекались — есть небольшой, но полезный совет!</p>
                            </div>
                            <a href="#" class="news-link">Подробнее</a>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
        
        <footer>
            <div class="inner clearfix">
                <select class="small-footer-nav">
                    <option value="">Выберите страницу</option>
                    <option value="#">Условия использования</option>
                    <option value="#">Авторские права</option>
                    <option value="#">Контакты</option>
                </select>
                <nav class="footer-nav clearfix">
                    <ul>
                        <li><a href="#">Условия использования</a></li>
                        <li><a href="#">Авторские права</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
                <a href="#" class="login-register-link">Вход/Регистрация</a>
                <div class="copyright">© 2013 HOLY-SHIT</div>
            </div>
        </footer>

        <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script-->
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script-->
    </body>
</html>
